<b style="font-size:35px;">Sobre Comic</b>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quaerat dolorem, deleniti praesentium magni quod optio eum amet quisquam, quos autem? Corrupti, maiores doloribus porro nemo consequatur modi magnam veniam!</p>

<p> Voluptatem aspernatur laudantium quasi officiis ducimus minus blanditiis unde accusantium illum, ipsam similique, deleniti consectetur pariatur. Delectus enim vel magni officiis quibusdam dolor magnam impedit animi consequuntur, aspernatur doloremque accusantium.</p>
    
<p> Culpa numquam ipsa tenetur architecto est consectetur quasi inventore sunt ex. Magni necessitatibus accusamus nihil ex rem excepturi, asperiores blanditiis quo magnam pariatur dicta beatae veniam! Officiis amet minima non.</p>
    
<p> Quisquam vel cumque aut aliquam placeat dolorem incidunt obcaecati libero possimus dolores consequuntur porro fuga facere ipsum tenetur, labore rem accusamus assumenda, ratione sequi officia quam quos iure aperiam. Iusto.</p>
